---
layout: archive
title: "National & International Presentations"
permalink: /talks/
author_profile: true
---
An article was recently written about the talks myself and several other young scientists' gave about our research in Madison, Wisonsin. 
The talks focused on how each of us utilized High-Throughput Computing in our specific research topics and scientific disciplines.
A link to the article can be found here through the <a href="https://osg-htc.org/spotlights/Lightning-Talks.html">Open Science Grid</a> website. 


{%if site.talkmap_link == true%}

<p style="color: #1aa7ec; text-align: center;"><a href="/talkmap.html">See a map of all the places I've given a talk or performed research!</a></p>

{%endif%}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
