---
layout: archive
title: "National & International Presentations"
permalink: /talks/
author_profile: true
---
 
{%if site.talkmap_link == true%}


<div style="border: 2px solid #f9e40c; padding: 20px; border-radius: 8px; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <p style="margin: 0;">
    <a href="/talkmap.html" style="text-decoration: none; font-weight: bold; color: #ffffff; font-size: 1.2rem;">
      Click to see all the locations where I’ve delivered talks or conducted research on an interactive map!
    </a>
  </p>
</div>


<hr>

{%endif%}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
