---
layout: archive
title: "National & International Presentations"
permalink: /talks/
author_profile: true
---
 
<hr>

{%if site.talkmap_link == true%}

<div style="border: 2px solid #f9e40c; padding: 10px; border-radius: 8px; display: inline-block; text-align: center;">
  <p style="color: #1aa7ec; text-align: center; margin: 0;">
    <a href="/talkmap.html" style="text-decoration: none; color: #1aa7ec; font-weight: bold;">
      Explore the locations where I’ve delivered talks or conducted research on an interactive map!
    </a>
  </p>
</div>

<hr>

{%endif%}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
